@charset "UTF-8";

/*

 NOTES:

*/

@media(min-width:768px){
	}

DIV.content-searchbox-exercises{
	float:left;
	position: relative;
	margin:0;
	border-radius: 0;	
	border: 1px solid #ccc;
	}
DIV.widget-searchbox-exercises{
	float:left;
	position: relative;
	margin:0;
	border-radius: 0;	
	border: 1px solid #ccc;
	}
DIV.section-searchbox-exercises{
	float: left;
	position: relative;
	height: 100px;
	margin-left: -40px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left:40px;
	padding-right:40px;
	background: rgba(255,255,255,1.0);	
	background: -webkit-linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0)); 
	background: -o-linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0));  
	background: -moz-linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0)); 
	background: linear-gradient(90deg, rgba(255,255,255,1.0), rgba(255,255,255,0.0)); 
	}	
DIV.content-searchbox-exercises DIV.bg-image{
	position: absolute;
	top: 10px;
	left: 10px;
	}
DIV.widget-searchbox-exercises DIV.bg-image{
	position: absolute;
	top: 15px;
	left: 0px;
	}
DIV.section-searchbox-exercises DIV.bg-image{
	position: relative;
	float:left;
	padding-top: 30px;
	}	
DIV.content-searchbox-exercises DIV.bg-image > IMG{
	width: 40px;
	height:auto;	
	}
DIV.widget-searchbox-exercises DIV.bg-image > IMG{
	width: 40px;
	height:auto;	
	}
DIV.section-searchbox-exercises DIV.bg-image > IMG{
	width: 40px;
	height:auto;	
	}
DIV.content-searchbox-exercises DIV.nobg-fix,
DIV.widget-searchbox-exercises DIV.nobg-fix,
DIV.section-searchbox-exercises	DIV.nobg-fix{
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	line-height: 0;
	height: 0;
	overflow:hidden;
	}
DIV.content-searchbox-exercises DIV.nobg-fix > IMG,
DIV.widget-searchbox-exercises DIV.nobg-fix > IMG,
DIV.section-searchbox-exercises	DIV.nobg-fix > IMG{
	height:1px;
	width:100%;
	}
DIV.content-searchbox-exercises DIV.searchbox{
	float:left;
	margin:0;
	padding:0px 0px 0px 60px;
	}
DIV.widget-searchbox-exercises DIV.searchbox{
	float:left;
	margin:0;
	padding:0px 0px 0px 40px;	
	}	
DIV.section-searchbox-exercises DIV.searchbox{
	float:left;
	margin:0;
	margin-top: 10px;
	padding:0;
	}
DIV.content-searchbox-exercises DIV.searchbox.resizable,
DIV.widget-searchbox-exercises DIV.searchbox.resizable,
DIV.section-searchbox-exercises DIV.searchbox.resizable{
	width:100%;
	}
DIV.section-searchbox-exercises DIV.searchbox.resizable{
	width:93%;
	}
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox,	
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox{
	position: relative;
	float: left;
	background-color: #efefef;
	padding: 0;
	border-radius: 5px;
	height: 100%;
	width: 100%;
	border: 0px solid #bbb;
	background-color: inherit;
	}
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV{
	float: inherit;
	width: 100%;
	padding: 0;
	height: 60px;
	}
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV{
	height: 70px;	
	}
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV{
	height: 80px;	
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result{
	display: none;
	color: #000;
	padding: 0;
	position: absolute;
	top: 50px;
	left: -1px;
	right: -1px;	
	border: 1px solid #ccc;	
	border-top:0;	
	/*border-radius: 0px 0px 10px 10px;*/
	border-radius: 0;
	box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.20);
	background: #fff none repeat scroll 0% 0%;
	z-index: 10;
	}
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result{
	top: 80px;
	margin: 0 0 20px 0;
	}
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result{
	top: 80px;
	border:0;
	left: 0px;
	right: 0px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);	
	margin: 0 0 20px 0;
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	}
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing{
	}
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing{
	padding: 20px;
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI{
	text-align: left;
	overflow: hidden;
	padding: 0;
	}
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI SPAN.hint,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI SPAN.hint,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI SPAN.hint{
	color: #009EFF;
	font-weight: 500;	
	}
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result{
	cursor: pointer;
	padding: 5px 10px;
	background: none;
	border-radius: 5px;
	font-size: 120%;
	cursor: pointer;
	color: #777;
	text-transform: capitalize;	
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result:hover,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result:hover,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result:hover{
	background: #777;
	color: #fff;
	}
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result.focus,	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result:focus,	
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result.focus,	
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result:focus,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result.focus,	
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result:focus{
	font-weight: normal !important;
	background: #666;
	color: #fff;
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result-msg,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result-msg,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result-msg{
	padding: 12px 12px;
	background: #fff;
	border-radius: 0;
	font-size: 160%;
	cursor: pointer;
	color: #666;
	margin:0;
	font-weight: normal;
	}
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result-title,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result-title,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-result-title{
	padding: 12px 12px;
	background: #f0f0f0;
	border-radius: 5px;
	font-size: 125%;
	cursor: pointer;
	color: #666;
	margin-bottom: 5px;
	margin-top: 5px;
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-hint,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-hint,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV > .kw-content-result UL.listing LI.single-hint{
	padding: 5px 10px;
	background: #eee;
	border-radius: 5px;
	font-size: 115%;
	cursor: pointer;
	color: #009EFF;
	margin: 10px 10px;
	font-weight: normal;
	text-transform: capitalize;	
	}	
DIV.content-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV .input,
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV .input,
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV .input{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	right: 0;	
	}
DIV.widget-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV .input{
	bottom: 0;	
	}
DIV.section-searchbox-exercises DIV.searchbox DIV.kw-searchbox > DIV .input{
	bottom: 0;
	padding-left:0px;	
	}	
DIV.content-searchbox-exercises DIV.searchbox INPUT[type=TEXT],
DIV.widget-searchbox-exercises DIV.searchbox INPUT[type=TEXT],
DIV.section-searchbox-exercises DIV.searchbox INPUT[type=TEXT]{
	padding:0;	
	position: relative;
	float:inherit;
	border:0;
	color:#ccc;
	background:none;
	outline-color: rgba(0, 0, 0, 0.0);
	margin:0;
	width:100%;
	margin-top: 10px;
	font-size:160%;
	text-transform: capitalize;
	font-weight: 600;	
	}
DIV.widget-searchbox-exercises DIV.searchbox INPUT[type=TEXT]{
	font-size:280%;	
	margin-top:0px;
	}
DIV.section-searchbox-exercises DIV.searchbox INPUT[type=TEXT]{
	font-size:300%;
	margin-top:0px;	
	}	
DIV.content-searchbox-exercises DIV.searchbox INPUT[type=TEXT].translucide:focus,
DIV.widget-searchbox-exercises DIV.searchbox INPUT[type=TEXT].translucide:focus,
DIV.section-searchbox-exercises DIV.searchbox INPUT[type=TEXT].translucide:focus{
	outline-color: rgba(0, 0, 0, 0.0);
	}
DIV.content-searchbox-exercises DIV.searchbox INPUT[type=TEXT].translucide,
DIV.widget-searchbox-exercises DIV.searchbox INPUT[type=TEXT].translucide,
DIV.section-searchbox-exercises DIV.searchbox INPUT[type=TEXT].translucide{
	background:none;
	border:0;	
	color: #777;
	}
		
